:root {
    --text-color: #282828;
    --text-white-color: #FFFFFF;
    --primary-color: #42B54A;
    --font-weight-SemiBold: 600;
    --font-weight-Regular: 400;
    --font-weight-Medium: 500;
    --font-weight-Bold: 700;
    --font-size-21px: 21px;
    --font-size-18px: 18px;
}
* {
    box-sizing: inherit;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}
/* CSS wrapper__header-bottom */
.wrapper__header-bottom {
    width: 100%;
}
.wrapper__header-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 120px;
    background-color: #42B54A;
}
.wrapper__header-navbar-list {
    list-style-type: none;
    display: flex;
}
.wrapper__header-navbar-item {
    margin-right: 45px;
}
.wrapper__header-navbar-item:last-child {
    margin-right: 0px;
}
.wrapper__header-navbar-link {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
    font-weight: 600;
}
/* CSS slider */
.wrapper__slideshow {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}
.wrapper__mySlides-img {
    width: 100%;
    height: 620px;
    vertical-align: middle;
}
